<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p %d %-4r [%t %x] (%F:%L) %c - %m%n" />
            
		</Console>
		<Routing name="File">
			<Routes pattern="$${sd:type}">
				<Route>
                    <RollingFile name="Rolling-${sd:type}" fileName="logs/nlp-${date:yyyy-MM-dd}.log"
						filePattern="logs/tdar.%d{yyyy-MM-dd-HH-mm}.log.gz">
						<PatternLayout>
							<pattern>%d %p %c{1.} [%t] %m%n</pattern>
						</PatternLayout>
						<TimeBasedTriggeringPolicy />
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
<!-- 			<AppenderRef ref="File" />
 -->		</Root>
		<Logger name="org.hibernate.util.JDBCExceptionReporter" level="debug" />
		<Logger name="org.liquibase" level="error" />
		<Logger name="org.tdar" level="DEBUG" />
	</Loggers>
</Configuration>